/*Chloe Yu 2018*/

/*divide main page into 4 parts*/
html, body { height: 100%; padding: 0; margin: 0; }
div { 
	width: 100%; 
	height: 100%; 
	/*float: left; */
}

/*background image*/
body {	
  background-image:  url('../img/background.jpg');
  background-repeat: repeat;
	background-size: 90px 90px;

	margin: 0;
 	padding: 0;
}

/*navigation bar*/
ul {
  position: fixed;
  width: 100%;
  background-color:#FDEBD0;
  text-align: center;
  list-style: none;
  padding-right: 40px;
  margin: 0;
}

/*text on navigation bar*/
li {
  float: left;
  display: inline-block;
  font-family: cursive;
  font-size: 17px;
  padding-left: 13px;

}

li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #7E4B14;
  display: block;
  padding: 20px;
}


li a.active {
    background-color: #6E2C00;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/*about page*/
.aboutpage img{
  width:200;
  height:200px;
  margin-top: 9%; 
  padding-left: 30%; 
  padding-right: 30%;
  padding-top: 7%;
  padding-bottom: 20%;
  background-color: rgba(250, 229, 211, 0.3);
  background-size:50% 60%;
  background-repeat:no-repeat;
}

/*resume page*/
.resumepage .image1{
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
/*
div iframe{
  z-index: 100;
  position: absolute;
	padding-top: 4%; 
}*/


/*experience page*/
.experiencepage img{
  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
  background-color: rgba(235, 245, 251, 0.5);
}

/*project page*/
.projectspage img{
  display: block;
  margin: auto;

  height: auto;
  max-height: 100%;

  width: auto;
  max-width: 100%;
  background-color: rgba(209, 242, 235, 0.5);
}