/*Chloe Yu 2018*/
/*divide main page into 4 parts*/
html, body { height: 100%; width:100%; padding: 0; margin: 0; }

div { 
	width: 100%; 
	height: 100%;
}

/*background image*/
body {	
  /*background-image: url("../img/cloud2.jpeg");*/
  background-color: white;
  /*background-color: black;*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
	margin: 0;
 	padding: 0;
  min-width: 1440px;
  min-height: 900px;
}

/*-----------------------------------navigation bar----------------------------------*/

.nav{
  z-index: 999;
  list-style: none;
  position: fixed;
  width: 99%;
  height: 80px;
  text-align:center;
  padding-left:0px;
  /*background-color: black;*/
}
.nav li{
  display: inline-block;
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
  padding-right: 10px;
}

.nav li a{
  margin: 10px 15px;
  padding: 5px 0px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Khand';
  font-size: 25px;
  letter-spacing: 2px;
}

.nav li a:hover{
  border-bottom: 3px solid black;
}


/*----------------------------------------about page---------------------------------------*/
.aboutcenter{
  margin: 0 auto;
  position: relative;
  background-color: black; 
  opacity: 1;
  width: 1200px;
  height: 0;
  top:120px;
  border-top: 2px solid black;
}

.ga1{
  position: absolute;
  display: inline-block;
  top:530px;
  left: 280px;
  font-family: 'Khand';
  font-size: 25px;
  letter-spacing:2px
}
.ga2{
  position: absolute;
  display: inline-block;
  top:560px;
  left: 450px;
  font-family: 'Khand';
  font-size: 22px;
  z-index: 998;
  letter-spacing:2px;
}
@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.ga2:hover,
.ga2:focus {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.aboutimg{
  position: absolute;
  display: inline-block;
  width: 700px;
  margin-left: 150px;
  margin-top: 60px;
}
.aboutimg img{
  width: 100%;
  height: auto; 
}

.abouttext{
  padding: 0px 20px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  display: inline-block;
  width: 450px;
  height: auto;
  margin-left: 53%;
  margin-top: 110px;
}

.aboutword{
  font-size: 1.1em;
  word-spacing:2px;
  line-height: 140%;
  color: #7d4627;
  font-family: 'Abel';
  font-size: 22px;
}
.abouticon{
  position: absolute;
  display: inline-block;
  width: 130px;
  height: 30px;
  margin-left: 80%;
  margin-top: 42%;
}

.abouticon a{
  padding-left: 10%; 
  font-size: 1.5em;
  opacity: 0.7;
}
.abouticon a:hover{
  opacity: 1;
}
/*-----------------------------------------resume page--------------------------------------*/
.resumepage{
  z-index: 97;
  background-color: #edf1f2;

}

.resumediv{
  margin: 0 auto;
  position: relative;
  width: 1200px;
  background-image: url('../img/bbb.jpeg');
  background-size: cover;
  height: 700px;
  top: 100px;
}

.resumepage img{
  z-index: 98;
  position: absolute;
  display: inline-block;
  top:13%;
  left: 35%;
  width:380px;
  height: auto;
  opacity: 0.7;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.resumediv a img:hover {
  opacity:1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pets img{
  position: absolute;
  width: 370px;
  height: auto;
  top:150px;
  opacity: 1;
  left:1057px;
}



/*------------------------------------------experience page------------------------------------*/
.experiencepage{
  z-index: 97;
  font-family: sans-serif;
  background-color: white;
  /*background-image: url('../img/ccc.jpg');*/
  /*background-size: cover;*/
}

.exprience{
  position: relative;
  /*background-color:#6a8287;*/
  /*background-color:  #626D71;*/
  /*background-color: darkgrey;*/
  /*border: 2px solid white;*/
  background-image: url('../img/ccc.jpeg');
  background-size: cover;
  margin: 0 auto;
  width: 700px;
  height: 400px;
  top:260px;
}

.vl{/*vertical line*/
  border-left: 3px dashed #edf1f2;
  height: 520px;
  width: 0px;
  position: absolute;
  left: 50%;
  top: -50px;  
}

.time{
  position: absolute;
  display: inline-block;
  color:white;
  font-size: 4em;
  background-color: black;
  width: 0;
  height: 0;
  letter-spacing: 3px;
}

.dot{
  height: 10px;
  width: 10px;
  /*background-color: #edd9c0;*/
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom:15px solid transparent;
  border-left: 15px solid #edf1f2;
  /*border-left: 15px solid red;*/
  display: inline-block;
  position: absolute;
  /*border-color:  #edf1f2;*/
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right:15px solid #edf1f2; 
  display: inline-block;
  position: absolute;
  /*border-color:  #edf1f2;*/
}

.titles{
  position: absolute;
  width: 60px;
  height: 150px;
  text-align: right;
  font-size: 0.8em;
  left:40px;
  color:black;
}

.experienceDe{
  position: absolute;
  width: 310px;
  height: 170px;
  right:-30px;
  text-align: left;
  font-size: 0.8em;
  color:black;
}

.experiencepage .work{
  background-color:  #edf1f2;
  position: absolute;
  text-align: center;
  width: 400px;
  height: 270px;
  padding-top: 20px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.work:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--------------------------------------------project page--------------------------------------*/
.projectspage{
  z-index: 97;
  background-image: url('../img/ddd.jpeg');
  background-size: cover;
}

.projects{
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 2px solid grey;*/
  /*background-image: url('../img/ccc.jpeg');*/
  /*background-size: cover;*/
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  top:100px;
}

.circleBase{
  border-radius: 50%;
  behavior: url(PIE.htc); /* IE8 */ 
}

.invisible{
  display: none;
  position: absolute;
  background-color: #117A65;
  padding: 5px;
  width: 80px;
  height: 17px;
  left: 180px;
  line-height: 15px;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  color: white;
}

.pj{
  position: absolute;
  height: 160px;
  width: 160px;
  opacity: 0.7;
  background-size: 100%;
}

.pj:hover .invisible{display:block;}
.pj:hover{opacity: 1;}

.pj1{
  left: 16%;
  top: 13%;
  background-image:url("../img/flappybird.png");
}


.pj2{
  background-color: #e6e6e6;
  top: 13%;
  left: 44%;
  background-image:url("../img/R.png");
}

.pj3{
  background-color: grey;
  right: 16%;
  top: 13%;
  background-image:url("../img/maze.png");
}

.pj4{
  background-color: white;
  left: 16%;
  top: 53%;
  background-image:url("../img/flow.png");
}

.pj5{
  background-color: white;
  top: 53%;
  left: 44%;
  background-image:url("../img/sudoku.png");
}

.pj6{
  background-color: white;
  right: 16%;
  top: 53%;
  background-image:url("../img/makeup.png");
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.pjtext{
  position: absolute;
  width: 360px;
  height: 120px;
  text-align: center;
  line-height: 50%
}

/*--------------------------------------------contact page--------------------------------------*/
.contactpage{
  z-index: 97;
}

.contactpage .contacts{
  position: relative;
  /*border: 2px solid black;*/
  background-image: url('../img/eee.jpeg');
  background-size: cover;
  margin: 0 auto;
  width: 700px;
  height: 500px;
  top: 200px;
  left:-200px;
}


.contactpage .contacts .card{
  width: 500px;
  height: 270px;
  top: 150px;
  left: 500px;
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #F7EFE2;
  box-shadow: 2px 4px #000000;
}

.card img{
  width:140px;
  height:auto;
  position: absolute; 
  left: 12%; 
  top: 24%; 
  z-index: 999;"
}

.vertical_dotted_line{
  border-left: 2px dashed black;
  height: 80%;
  position: absolute;
  left: 47%;
  top: 10%;
} 

.contacttext{
  font-size: 100%;
  display: inline;
}

.contacttext:hover {
  /*font-size: 102%;*/
  text-shadow: 2px 2px 4px pink;
}

.contact1{
  position: absolute;
  text-decoration: none;
  display: inline-block;
  width: 40%;
  height: 5%;
  left: 52%;
  top: 50%;
}

.contact2{
  position: absolute;
  display: inline-block;
  width: 40%;
  height: 5%;
  left: 52%;
  top: 60%;
}

.contact3{
  position: absolute;
  display: inline-block;
  width: 40%;
  height: 5%;
  left: 52%;
  top: 70%;
}
a {
    color: black;
    text-decoration: none;
}
